# Data Analyst yt video exercises

In [1]:
numbers1 = [x for x in 'PYTHON']
numbers1

['P', 'Y', 'T', 'H', 'O', 'N']

In [2]:
job_titles = [
    "Data Scientist", "Machine Learning Engineer", "Data Analyst", "AI Engineer", "Business Intelligence Analyst",
    "Data Engineer", "Deep Learning Engineer", "Big Data Engineer", "Quantitative Analyst", "Research Scientist",
    "Statistician", "Data Architect", "Computer Vision Engineer", "NLP Engineer", "Decision Scientist",
    "BI Developer", "Analytics Engineer", "Data Science Consultant", "Predictive Modeler", "AI Research Scientist",
    "Data Science Manager", "Data Visualization Specialist", "Data Science Product Manager", "ML Ops Engineer", 
    "Applied Scientist", "Research Engineer", "Principal Data Scientist", "Lead Data Scientist", 
    "Marketing Data Analyst", "Operations Research Analyst", "Risk Data Scientist", "Fraud Detection Analyst", 
    "Healthcare Data Scientist", "Bioinformatics Data Scientist", "Financial Data Scientist", "Customer Insights Analyst",
    "Data Strategy Consultant", "Computer Science Researcher", "AI Ethics Researcher", "Geospatial Data Scientist", 
    "Robotics Data Scientist", "Econometrician", "Retail Data Scientist", "Climate Data Scientist", "HR Data Analyst", 
    "Data Governance Specialist", "Text Mining Engineer", "Sentiment Analysis Expert", "Epidemiology Data Scientist", 
    "Supply Chain Data Analyst", "Data Wrangler", "Data Storyteller", "Sports Data Analyst", "Educational Data Scientist",
    "Cybersecurity Data Scientist", "Cloud Data Engineer", "Data Science Trainer", "Data Ethics Consultant",
    "Causal Inference Scientist", "Genomics Data Scientist", "Recommender Systems Engineer", "Conversational AI Engineer", 
    "Knowledge Graph Engineer", "Data-Driven Decision Maker", "Survey Data Scientist", "Data Science Evangelist",
    "Software Engineer - Data Science", "AI/ML Product Manager", "A/B Testing Analyst", "Personalization Data Scientist",
    "Insurance Data Analyst", "Customer Experience Data Scientist", "Data Science Director", "Senior Data Engineer",
    "Senior Machine Learning Engineer", "Junior Data Scientist", "Junior Data Analyst", "AI Software Engineer",
    "ML Research Scientist", "Speech Recognition Engineer", "Autonomous Systems Scientist", "Data Science Fellow",
    "Experimental Data Scientist", "Bayesian Statistician", "AI Consultant", "Big Data Analytics Consultant",
    "Optimization Scientist", "Cloud AI Engineer", "Quantitative Researcher", "AI Fairness Expert",
    "Streaming Data Engineer", "Cryptocurrency Data Scientist", "AdTech Data Scientist", "Pharmaceutical Data Scientist",
    "Media Data Scientist", "Real Estate Data Analyst", "AI Policy Analyst", "Legal Data Scientist",
    "AI Infrastructure Engineer", "Neuroscience Data Scientist", "Cognitive AI Engineer", "Data Science Recruiter"
]
print(len(job_titles))
data_analyst_titles = [job for job in job_titles if "Data Analyst" in job]
print(data_analyst_titles)
len(data_analyst_titles)

102
['Data Analyst', 'Marketing Data Analyst', 'HR Data Analyst', 'Supply Chain Data Analyst', 'Sports Data Analyst', 'Insurance Data Analyst', 'Junior Data Analyst', 'Real Estate Data Analyst']

8

In [ ]:
# Define data science job roles and required skills
job_roles = [
    {'role': 'Data Analyst', 'skills': ['Python', 'SQL', 'Excel']},
    {'role': 'Data Scientist', 'skills': ['Python', 'R', 'Machine Learning', 'Deep Learning']},
    {'role': 'Machine Learning Engineer', 'skills': ['Python', 'TensorFlow', 'PyTorch', 'Scikit-Learn']},
    {'role': 'Data Engineer', 'skills': ['Python', 'Apache Spark', 'Hadoop', 'SQL']},
    {'role': 'Business Intelligence Analyst', 'skills': ['Python', 'SQL', 'Tableau', 'Power BI', 'Excel']},
    {'role': 'Quantitative Analyst', 'skills': ['R', 'Python', 'MATLAB', 'Statistics']},
    {'role': 'Operations Analyst', 'skills': ['Python', 'SQL', 'Data Visualization', 'Process Improvement']},
    {'role': 'Database Administrator', 'skills': ['SQL', 'Oracle', 'MySQL', 'Database Management']},
    {'role': 'AI Engineer', 'skills': ['Python', 'TensorFlow', 'PyTorch', 'Computer Vision']},
    {'role': 'Statistician', 'skills': ['R', 'SAS', 'Python', 'Statistical Modeling']}
]
# My skills
my_skills = ['Python', 'SQL', 'Excel']

In [ ]:
qualified_jobs = []

for job in job_roles:
    qualified = True

    for skill in my_skills:
        if skill not in job['skills']:
            qualified = False
            break
    if qualified:
        qualified_jobs.append(job['role'])

qualified_jobs

['Data Analyst', 'Business Intelligence Analyst']

In [5]:
skill_list = ['Python', 'SQL', 'Excel']

len(skill_list)

3

## Functions

In [6]:
count = 0
for skill in skill_list:
    count += 1
count

3

In [7]:
data_salaries = [95000,100000, 85000,97000,140000]
min(data_salaries)

85000

In [8]:
sum(data_salaries)

517000

In [9]:
sorted(data_salaries)

[85000, 95000, 97000, 100000, 140000]

In [10]:
def calc_salary(base_salary,bonus_rate=0.1):
    total_salary = base_salary*(1+bonus_rate)
    return total_salary
calc_salary(400,9)

4000

In [11]:
mul2 = lambda x: x*2
mul2('Python')

'PythonPython'

In [12]:
salary_list = [95000,100000, 85000,97000,140000, 200000]

#def calc_salary(base_salary,bonus_rate=.1):
#    return base_salary*(1+bonus_rate)

total_salary_list = [ (lambda x: x*1.1)(salary) for salary in salary_list]
total_salary_list

[104500.00000000001,
 110000.00000000001,
 93500.00000000001,
 106700.00000000001,
 154000.0,
 220000.00000000003]

In [13]:
jobs_data = [
    {'role': 'Data Analyst', 'skills': ['Python', 'SQL', 'Excel'], 'remote': True},
    {'role': 'Data Scientist', 'skills': ['Python', 'R', 'Machine Learning', 'Deep Learning'], 'remote': True},
    {'role': 'Machine Learning Engineer', 'skills': ['Python', 'TensorFlow', 'PyTorch', 'Scikit-Learn'], 'remote': True},
    {'role': 'Data Engineer', 'skills': ['Python', 'Apache Spark', 'Hadoop', 'SQL'], 'remote': False},
    {'role': 'Business Intelligence Analyst', 'skills': ['Python', 'SQL', 'Tableau', 'Power BI', 'Excel'], 'remote': True},
    {'role': 'Quantitative Analyst', 'skills': ['R', 'Python', 'MATLAB', 'Statistics'], 'remote': False},
    {'role': 'Operations Analyst', 'skills': ['Python', 'SQL', 'Data Visualization', 'Process Improvement'], 'remote': False},
    {'role': 'Database Administrator', 'skills': ['SQL', 'Oracle', 'MySQL', 'Database Management'], 'remote': True},
    {'role': 'AI Engineer', 'skills': ['Python', 'TensorFlow', 'PyTorch', 'Computer Vision'], 'remote': False},
    {'role': 'Statistician', 'skills': ['R', 'SAS', 'Python', 'Statistical Modeling'], 'remote': True}
]

In [14]:
list(filter(lambda job: job['remote'] and "Python" in job['skills'],jobs_data))

[{'role': 'Data Analyst',
  'skills': ['Python', 'SQL', 'Excel'],
  'remote': True},
 {'role': 'Data Scientist',
  'skills': ['Python', 'R', 'Machine Learning', 'Deep Learning'],
  'remote': True},
 {'role': 'Machine Learning Engineer',
  'skills': ['Python', 'TensorFlow', 'PyTorch', 'Scikit-Learn'],
  'remote': True},
 {'role': 'Business Intelligence Analyst',
  'skills': ['Python', 'SQL', 'Tableau', 'Power BI', 'Excel'],
  'remote': True},
 {'role': 'Statistician',
  'skills': ['R', 'SAS', 'Python', 'Statistical Modeling'],
  'remote': True}]

In [15]:
from job_analyzer import *

In [16]:
print(calculate_salary(100_000))
calculate_bonus(100_000)

110000.00000000001

10000.0

In [17]:
help(calculate_salary)

Help on function calculate_salary in module job_analyzer:

calculate_salary(base_salary, bonus_rate=0.1)
    Calc the total salary based on base and bonus --> base*(1+bonus)

In [18]:
salary_list = [95000,100000, 85000,97000,140000, 200000]

In [19]:
from statistics import mean,mode,median

print(mode(salary_list))
print(median(salary_list))
mean(salary_list)

95000
98500.0

119500

## Exercise: Cleaning Data

In [20]:
data_science_jobs = [
    {'job_title': 'Data Scientist', 'job_skills': "['Python', 'SQL', 'Machine Learning']", 'job_date': '2023-05-12'},
    {'job_title': 'Machine Learning Engineer', 'job_skills': "['Python', 'TensorFlow', 'Deep Learning']", 'job_date': '2023-05-15'},
    {'job_title': 'Data Analyst', 'job_skills': "['SQL', 'R', 'Tableau']", 'job_date': '2023-05-10'},
    {'job_title': 'Business Intelligence Developer', 'job_skills': "['SQL', 'PowerBI', 'Data Warehousing']", 'job_date': '2023-05-08'},
    {'job_title': 'Data Engineer', 'job_skills': "['Python', 'Spark', 'Hadoop']", 'job_date': '2023-05-18'},
    {'job_title': 'AI Specialist', 'job_skills': "['Python', 'PyTorch', 'AI Ethics']", 'job_date': '2023-05-20'}
]

In [21]:
from datetime import datetime
import ast

In [22]:
for job in data_science_jobs:
    job['job_date'] = datetime.strptime(job['job_date'],'%Y-%m-%d')
    job['job_skills'] = ast.literal_eval(job['job_skills'])

In [23]:
data_science_jobs

[{'job_title': 'Data Scientist',
  'job_skills': ['Python', 'SQL', 'Machine Learning'],
  'job_date': datetime.datetime(2023, 5, 12, 0, 0)},
 {'job_title': 'Machine Learning Engineer',
  'job_skills': ['Python', 'TensorFlow', 'Deep Learning'],
  'job_date': datetime.datetime(2023, 5, 15, 0, 0)},
 {'job_title': 'Data Analyst',
  'job_skills': ['SQL', 'R', 'Tableau'],
  'job_date': datetime.datetime(2023, 5, 10, 0, 0)},
 {'job_title': 'Business Intelligence Developer',
  'job_skills': ['SQL', 'PowerBI', 'Data Warehousing'],
  'job_date': datetime.datetime(2023, 5, 8, 0, 0)},
 {'job_title': 'Data Engineer',
  'job_skills': ['Python', 'Spark', 'Hadoop'],
  'job_date': datetime.datetime(2023, 5, 18, 0, 0)},
 {'job_title': 'AI Specialist',
  'job_skills': ['Python', 'PyTorch', 'AI Ethics'],
  'job_date': datetime.datetime(2023, 5, 20, 0, 0)}]

In [24]:
type(data_science_jobs[0]['job_skills'])

list

In [1]:
class LukesList:
    def __init__(self):
        """Initialize an empty list."""
        self._items = []

    def add(self, item):
        """Add an item to the end of the list."""
        self._items.append(item)

    def __getitem__(self, index):
        """Retrieve an item by index."""
        return self._items[index]

    def __setitem__(self, index, value):
        """Set an item at a specific index."""
        self._items[index] = value

    def __repr__(self):
        """Return a string representation of the list."""
        return str(self._items)

    def __len__(self):
        """Return the length of the list."""
        return len(self._items)

In [2]:
my_list = LukesList()
my_list

[]

In [3]:
my_list.add('Data Nerd')

In [4]:
my_list

['Data Nerd']

In [5]:
my_list.add('Finance Nerd')

In [6]:
my_list

['Data Nerd', 'Finance Nerd']

In [7]:
len(my_list)

2

In [ ]:
class BaseSalary:
    def __init__(self, base_salary, bonus_rate=0.1, currency='€'):
        self.base_salary = base_salary
        self.bonus_rate = bonus_rate
        self.currency = currency
        self.total_salary = base_salary*(1+bonus_rate)
        self.bonus = base_salary*bonus_rate
    def __repr__(self):
        return f"{self.base_salary:,.0f}{self.currency}"
    def show_salary(self):
      return f"{self.total_salary:,.0f}{self.currency}"
    def show_bonus(self):
      return f"{self.bonus:,.0f}{self.currency}"

In [44]:
salary = BaseSalary(100_000)
salary.show_bonus()

'10,000€'

In [13]:
import random

salary_list = [random.randint(50_000,100_000) for _ in range(1_000_000)]

In [14]:
import statistics

In [20]:
%%timeit
statistics.mean(salary_list)

200 ms ± 7.91 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [17]:
import numpy as np

In [33]:
applications_list = [10, 15, 7, 20, 25, 30, 5]
my_array = np.array(applications_list)

In [34]:
np.nanmean(my_array)

np.float64(16.0)

In [39]:
postings_list = [10, 15, 7, 20, 25, 30, 5]
post_array = np.array(postings_list)

np.min(post_array)

np.int64(5)