# Data Analyst yt video exercises

In [1]:
numbers1 = [x for x in 'PYTHON']
numbers1

['P', 'Y', 'T', 'H', 'O', 'N']

In [2]:
job_titles = [
    "Data Scientist", "Machine Learning Engineer", "Data Analyst", "AI Engineer", "Business Intelligence Analyst",
    "Data Engineer", "Deep Learning Engineer", "Big Data Engineer", "Quantitative Analyst", "Research Scientist",
    "Statistician", "Data Architect", "Computer Vision Engineer", "NLP Engineer", "Decision Scientist",
    "BI Developer", "Analytics Engineer", "Data Science Consultant", "Predictive Modeler", "AI Research Scientist",
    "Data Science Manager", "Data Visualization Specialist", "Data Science Product Manager", "ML Ops Engineer", 
    "Applied Scientist", "Research Engineer", "Principal Data Scientist", "Lead Data Scientist", 
    "Marketing Data Analyst", "Operations Research Analyst", "Risk Data Scientist", "Fraud Detection Analyst", 
    "Healthcare Data Scientist", "Bioinformatics Data Scientist", "Financial Data Scientist", "Customer Insights Analyst",
    "Data Strategy Consultant", "Computer Science Researcher", "AI Ethics Researcher", "Geospatial Data Scientist", 
    "Robotics Data Scientist", "Econometrician", "Retail Data Scientist", "Climate Data Scientist", "HR Data Analyst", 
    "Data Governance Specialist", "Text Mining Engineer", "Sentiment Analysis Expert", "Epidemiology Data Scientist", 
    "Supply Chain Data Analyst", "Data Wrangler", "Data Storyteller", "Sports Data Analyst", "Educational Data Scientist",
    "Cybersecurity Data Scientist", "Cloud Data Engineer", "Data Science Trainer", "Data Ethics Consultant",
    "Causal Inference Scientist", "Genomics Data Scientist", "Recommender Systems Engineer", "Conversational AI Engineer", 
    "Knowledge Graph Engineer", "Data-Driven Decision Maker", "Survey Data Scientist", "Data Science Evangelist",
    "Software Engineer - Data Science", "AI/ML Product Manager", "A/B Testing Analyst", "Personalization Data Scientist",
    "Insurance Data Analyst", "Customer Experience Data Scientist", "Data Science Director", "Senior Data Engineer",
    "Senior Machine Learning Engineer", "Junior Data Scientist", "Junior Data Analyst", "AI Software Engineer",
    "ML Research Scientist", "Speech Recognition Engineer", "Autonomous Systems Scientist", "Data Science Fellow",
    "Experimental Data Scientist", "Bayesian Statistician", "AI Consultant", "Big Data Analytics Consultant",
    "Optimization Scientist", "Cloud AI Engineer", "Quantitative Researcher", "AI Fairness Expert",
    "Streaming Data Engineer", "Cryptocurrency Data Scientist", "AdTech Data Scientist", "Pharmaceutical Data Scientist",
    "Media Data Scientist", "Real Estate Data Analyst", "AI Policy Analyst", "Legal Data Scientist",
    "AI Infrastructure Engineer", "Neuroscience Data Scientist", "Cognitive AI Engineer", "Data Science Recruiter"
]
print(len(job_titles))
data_analyst_titles = [job for job in job_titles if "Data Analyst" in job]
print(data_analyst_titles)
len(data_analyst_titles)

102
['Data Analyst', 'Marketing Data Analyst', 'HR Data Analyst', 'Supply Chain Data Analyst', 'Sports Data Analyst', 'Insurance Data Analyst', 'Junior Data Analyst', 'Real Estate Data Analyst']

8

In [ ]:
# Define data science job roles and required skills
job_roles = [
    {'role': 'Data Analyst', 'skills': ['Python', 'SQL', 'Excel']},
    {'role': 'Data Scientist', 'skills': ['Python', 'R', 'Machine Learning', 'Deep Learning']},
    {'role': 'Machine Learning Engineer', 'skills': ['Python', 'TensorFlow', 'PyTorch', 'Scikit-Learn']},
    {'role': 'Data Engineer', 'skills': ['Python', 'Apache Spark', 'Hadoop', 'SQL']},
    {'role': 'Business Intelligence Analyst', 'skills': ['Python', 'SQL', 'Tableau', 'Power BI', 'Excel']},
    {'role': 'Quantitative Analyst', 'skills': ['R', 'Python', 'MATLAB', 'Statistics']},
    {'role': 'Operations Analyst', 'skills': ['Python', 'SQL', 'Data Visualization', 'Process Improvement']},
    {'role': 'Database Administrator', 'skills': ['SQL', 'Oracle', 'MySQL', 'Database Management']},
    {'role': 'AI Engineer', 'skills': ['Python', 'TensorFlow', 'PyTorch', 'Computer Vision']},
    {'role': 'Statistician', 'skills': ['R', 'SAS', 'Python', 'Statistical Modeling']}
]
# My skills
my_skills = ['Python', 'SQL', 'Excel']

In [ ]:
qualified_jobs = []

for job in job_roles:
    qualified = True

    for skill in my_skills:
        if skill not in job['skills']:
            qualified = False
            break
    if qualified:
        qualified_jobs.append(job['role'])

qualified_jobs

['Data Analyst', 'Business Intelligence Analyst']

In [5]:
skill_list = ['Python', 'SQL', 'Excel']

len(skill_list)

3

## Functions

In [6]:
count = 0
for skill in skill_list:
    count += 1
count

3

In [7]:
data_salaries = [95000,100000, 85000,97000,140000]
min(data_salaries)

85000

In [8]:
sum(data_salaries)

517000

In [9]:
sorted(data_salaries)

[85000, 95000, 97000, 100000, 140000]

In [10]:
def calc_salary(base_salary,bonus_rate=0.1):
    total_salary = base_salary*(1+bonus_rate)
    return total_salary
calc_salary(400,9)

4000

In [11]:
mul2 = lambda x: x*2
mul2('Python')

'PythonPython'

In [12]:
salary_list = [95000,100000, 85000,97000,140000, 200000]

#def calc_salary(base_salary,bonus_rate=.1):
#    return base_salary*(1+bonus_rate)

total_salary_list = [ (lambda x: x*1.1)(salary) for salary in salary_list]
total_salary_list

[104500.00000000001,
 110000.00000000001,
 93500.00000000001,
 106700.00000000001,
 154000.0,
 220000.00000000003]

In [13]:
jobs_data = [
    {'role': 'Data Analyst', 'skills': ['Python', 'SQL', 'Excel'], 'remote': True},
    {'role': 'Data Scientist', 'skills': ['Python', 'R', 'Machine Learning', 'Deep Learning'], 'remote': True},
    {'role': 'Machine Learning Engineer', 'skills': ['Python', 'TensorFlow', 'PyTorch', 'Scikit-Learn'], 'remote': True},
    {'role': 'Data Engineer', 'skills': ['Python', 'Apache Spark', 'Hadoop', 'SQL'], 'remote': False},
    {'role': 'Business Intelligence Analyst', 'skills': ['Python', 'SQL', 'Tableau', 'Power BI', 'Excel'], 'remote': True},
    {'role': 'Quantitative Analyst', 'skills': ['R', 'Python', 'MATLAB', 'Statistics'], 'remote': False},
    {'role': 'Operations Analyst', 'skills': ['Python', 'SQL', 'Data Visualization', 'Process Improvement'], 'remote': False},
    {'role': 'Database Administrator', 'skills': ['SQL', 'Oracle', 'MySQL', 'Database Management'], 'remote': True},
    {'role': 'AI Engineer', 'skills': ['Python', 'TensorFlow', 'PyTorch', 'Computer Vision'], 'remote': False},
    {'role': 'Statistician', 'skills': ['R', 'SAS', 'Python', 'Statistical Modeling'], 'remote': True}
]

In [14]:
list(filter(lambda job: job['remote'] and "Python" in job['skills'],jobs_data))

[{'role': 'Data Analyst',
  'skills': ['Python', 'SQL', 'Excel'],
  'remote': True},
 {'role': 'Data Scientist',
  'skills': ['Python', 'R', 'Machine Learning', 'Deep Learning'],
  'remote': True},
 {'role': 'Machine Learning Engineer',
  'skills': ['Python', 'TensorFlow', 'PyTorch', 'Scikit-Learn'],
  'remote': True},
 {'role': 'Business Intelligence Analyst',
  'skills': ['Python', 'SQL', 'Tableau', 'Power BI', 'Excel'],
  'remote': True},
 {'role': 'Statistician',
  'skills': ['R', 'SAS', 'Python', 'Statistical Modeling'],
  'remote': True}]

In [15]:
from job_analyzer import *

In [16]:
print(calculate_salary(100_000))
calculate_bonus(100_000)

110000.00000000001

10000.0

In [17]:
help(calculate_salary)

Help on function calculate_salary in module job_analyzer:

calculate_salary(base_salary, bonus_rate=0.1)
    Calc the total salary based on base and bonus --> base*(1+bonus)

In [18]:
salary_list = [95000,100000, 85000,97000,140000, 200000]

In [19]:
from statistics import mean,mode,median

print(mode(salary_list))
print(median(salary_list))
mean(salary_list)

95000
98500.0

119500

## Exercise: Cleaning Data

In [20]:
data_science_jobs = [
    {'job_title': 'Data Scientist', 'job_skills': "['Python', 'SQL', 'Machine Learning']", 'job_date': '2023-05-12'},
    {'job_title': 'Machine Learning Engineer', 'job_skills': "['Python', 'TensorFlow', 'Deep Learning']", 'job_date': '2023-05-15'},
    {'job_title': 'Data Analyst', 'job_skills': "['SQL', 'R', 'Tableau']", 'job_date': '2023-05-10'},
    {'job_title': 'Business Intelligence Developer', 'job_skills': "['SQL', 'PowerBI', 'Data Warehousing']", 'job_date': '2023-05-08'},
    {'job_title': 'Data Engineer', 'job_skills': "['Python', 'Spark', 'Hadoop']", 'job_date': '2023-05-18'},
    {'job_title': 'AI Specialist', 'job_skills': "['Python', 'PyTorch', 'AI Ethics']", 'job_date': '2023-05-20'}
]

In [21]:
from datetime import datetime
import ast

In [22]:
for job in data_science_jobs:
    job['job_date'] = datetime.strptime(job['job_date'],'%Y-%m-%d')
    job['job_skills'] = ast.literal_eval(job['job_skills'])

In [23]:
data_science_jobs

[{'job_title': 'Data Scientist',
  'job_skills': ['Python', 'SQL', 'Machine Learning'],
  'job_date': datetime.datetime(2023, 5, 12, 0, 0)},
 {'job_title': 'Machine Learning Engineer',
  'job_skills': ['Python', 'TensorFlow', 'Deep Learning'],
  'job_date': datetime.datetime(2023, 5, 15, 0, 0)},
 {'job_title': 'Data Analyst',
  'job_skills': ['SQL', 'R', 'Tableau'],
  'job_date': datetime.datetime(2023, 5, 10, 0, 0)},
 {'job_title': 'Business Intelligence Developer',
  'job_skills': ['SQL', 'PowerBI', 'Data Warehousing'],
  'job_date': datetime.datetime(2023, 5, 8, 0, 0)},
 {'job_title': 'Data Engineer',
  'job_skills': ['Python', 'Spark', 'Hadoop'],
  'job_date': datetime.datetime(2023, 5, 18, 0, 0)},
 {'job_title': 'AI Specialist',
  'job_skills': ['Python', 'PyTorch', 'AI Ethics'],
  'job_date': datetime.datetime(2023, 5, 20, 0, 0)}]

In [24]:
type(data_science_jobs[0]['job_skills'])

list

In [1]:
class LukesList:
    def __init__(self):
        """Initialize an empty list."""
        self._items = []

    def add(self, item):
        """Add an item to the end of the list."""
        self._items.append(item)

    def __getitem__(self, index):
        """Retrieve an item by index."""
        return self._items[index]

    def __setitem__(self, index, value):
        """Set an item at a specific index."""
        self._items[index] = value

    def __repr__(self):
        """Return a string representation of the list."""
        return str(self._items)

    def __len__(self):
        """Return the length of the list."""
        return len(self._items)

In [2]:
my_list = LukesList()
my_list

[]

In [3]:
my_list.add('Data Nerd')

In [4]:
my_list

['Data Nerd']

In [5]:
my_list.add('Finance Nerd')

In [6]:
my_list

['Data Nerd', 'Finance Nerd']

In [7]:
len(my_list)

2

In [ ]:
class BaseSalary:
    def __init__(self, base_salary, bonus_rate=0.1, currency='€'):
        self.base_salary = base_salary
        self.bonus_rate = bonus_rate
        self.currency = currency
        self.total_salary = base_salary*(1+bonus_rate)
        self.bonus = base_salary*bonus_rate
    def __repr__(self):
        return f"{self.base_salary:,.0f}{self.currency}"
    def show_salary(self):
      return f"{self.total_salary:,.0f}{self.currency}"
    def show_bonus(self):
      return f"{self.bonus:,.0f}{self.currency}"

In [44]:
salary = BaseSalary(100_000)
salary.show_bonus()

'10,000€'

In [13]:
import random

salary_list = [random.randint(50_000,100_000) for _ in range(1_000_000)]

In [14]:
import statistics

In [20]:
%%timeit
statistics.mean(salary_list)

200 ms ± 7.91 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [17]:
import numpy as np

In [33]:
applications_list = [10, 15, 7, 20, 25, 30, 5]
my_array = np.array(applications_list)

In [34]:
np.nanmean(my_array)

np.float64(16.0)

In [39]:
postings_list = [10, 15, 7, 20, 25, 30, 5]
post_array = np.array(postings_list)

np.min(post_array)

np.int64(5)

In [50]:
import pandas as pd

In [51]:
from datasets import load_dataset

In [113]:
dataset = load_dataset("lukebarousse/data_jobs")

In [114]:
df = dataset['train'].to_pandas()

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 785741 entries, 0 to 785740
Data columns (total 17 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   job_title_short        785741 non-null  object
 1   job_title              785740 non-null  object
 2   job_location           784696 non-null  object
 3   job_via                785733 non-null  object
 4   job_schedule_type      773074 non-null  object
 5   job_work_from_home     785741 non-null  bool
 6   search_location        785741 non-null  object
 7   job_posted_date        785741 non-null  object
 8   job_no_degree_mention  785741 non-null  bool
 9   job_health_insurance   785741 non-null  bool
 10  job_country            785692 non-null  object
 11  salary_rate            33067 non-null   object
 12  salary_year_avg        22003 non-null   float64
 13  salary_hour_avg        10662 non-null   float64
 14  company_name           785723 non-null  object
 15  job_skills             668704 non-null  object
 16  job_type_skills        668704 non-null  object
dtypes: bool(3), float64(2), object(12)
memory usage: 86.2+ MB

In [34]:
df.iloc[3]

job_title_short                                              Data Engineer
job_title                LEAD ENGINEER - PRINCIPAL ANALYST - PRINCIPAL ...
job_location                                               San Antonio, TX
job_via                                                  via Diversity.com
job_schedule_type                                                Full-time
job_work_from_home                                                   False
search_location                                       Texas, United States
job_posted_date                                        2023-07-04 13:01:41
job_no_degree_mention                                                 True
job_health_insurance                                                 False
job_country                                                  United States
salary_rate                                                           None
salary_year_avg                                                        NaN
salary_hour_avg                                                        NaN
company_name                                  Southwest Research Institute
job_skills               ['python', 'c++', 'java', 'matlab', 'aws', 'te...
job_type_skills          {'cloud': ['aws'], 'libraries': ['tensorflow',...
Name: 3, dtype: object

In [23]:
df.describe()

       salary_year_avg  salary_hour_avg
count     22003.000000     10662.000000
mean     123286.274072        47.016598
std       48312.449482        21.890738
min       15000.000000         8.000000
25%       90000.000000        27.500000
50%      115000.000000        45.980000
75%      150000.000000        61.159996
max      960000.000000       391.000000

In [36]:
df.job_schedule_type.unique()

array(['Full-time', 'Contractor and Temp work',
       'Full-time and Internship', 'Temp work', 'Contractor',
       'Full-time and Part-time', 'Full-time and Temp work',
       'Full-time and Contractor', 'Part-time', 'Internship', None,
       'Part-time and Contractor', 'Temp work and Internship',
       'Full-time, Part-time, and Contractor',
       'Full-time, Part-time, and Internship',
       'Full-time, Contractor, and Temp work',
       'Full-time, Part-time, and Temp work',
       'Full-time, Temp work, and Internship',
       'Full-time, Contractor, and Internship',
       'Part-time and Internship', 'Contractor and Internship',
       'Part-time and Full-time', 'Part-time and Temp work',
       'Full-time and Volunteer', 'Contractor, Temp work, and Internship',
       'Full-time and Per diem', 'Per diem', 'Volunteer',
       'Part-time, Contractor, and Temp work',
       'Full-time, Temp work, and Per diem',
       'Part-time, Temp work, and Internship', 'Contractor and Part-time',
       'Part-time and Per diem', 'Contractor and Per diem',
       'Internship and Full-time', 'Internship and Per diem',
       'Full-time, Part-time, and Volunteer', 'Temp work and Full-time',
       'Part-time, Internship, and Volunteer', 'Part-time and Volunteer',
       'Part-time, Contractor, and Internship',
       'Internship and Volunteer', 'Contractor and Full-time',
       'Full-time, Part-time, and Per diem',
       'Full-time, Contractor, and Volunteer',
       'Temp work, Full-time, and Part-time', 'Pekerjaan tetap',
       'Kontraktor'], dtype=object)

In [55]:
df[(df.job_schedule_type == 'Full-time') & (df.salary_year_avg > 4000_000)]

Empty DataFrame
Columns: [job_title_short, job_title, job_location, job_via, job_schedule_type, job_work_from_home, search_location, job_posted_date, job_no_degree_mention, job_health_insurance, job_country, salary_rate, salary_year_avg, salary_hour_avg, company_name, job_skills, job_type_skills]
Index: []

In [44]:
df.job_posted_date[0]

'2023-06-16 13:44:15'

In [88]:
df["job_posted_date"] = pd.to_datetime(df.job_posted_date)

df['job_remote'] = df['job_work_from_home']
df.drop(labels="job_remote",axis=1, inplace=True)
df["job_posted_date"].dt.year

108883    2023
334082    2023
365786    2023
366073    2023
108099    2023
          ...
186163    2023
421728    2023
313161    2023
336301    2023
327439    2023
Name: job_posted_date, Length: 22003, dtype: int32

In [75]:
df.sort_values('job_posted_date', inplace=True)

In [66]:
df.drop(labels="salary_hour_avg", axis=1, inplace=True)

In [112]:
df.dropna(subset=["salary_year_avg"], inplace=True)
df

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,company_name,job_skills,job_type_skills
108883,Data Scientist,Data Scientist,"Calabasas, CA",via Recruit.net,Full-time,False,"California, United States",2023-01-01 00:02:56,False,True,United States,year,110000.0,PlanetArt,"['python', 'sql', 'tableau', 'excel']","{'analyst_tools': ['tableau', 'excel'], 'progr..."
334082,Data Engineer,Data Engineer,Argentina,via EchoJobs,Full-time,False,Argentina,2023-01-01 00:06:13,True,False,Argentina,year,65000.0,Spiff,"['python', 'mysql', 'aws', 'azure']","{'cloud': ['aws', 'azure'], 'databases': ['mys..."
365786,Business Analyst,Hospitality Operations Analyst,Anywhere,via Goodwin Recruiting | Job Board,Full-time,True,Georgia,2023-01-01 00:17:55,False,True,United States,year,90000.0,Goodwin Recruiting,"['sql', 'excel', 'powerpoint', 'outlook']","{'analyst_tools': ['excel', 'powerpoint', 'out..."
366073,Data Analyst,Data Analytics Professional,"Atlanta, GA",via CareerBuilder,Full-time,False,Georgia,2023-01-01 00:17:58,False,False,United States,year,55000.0,Cogent Infotech.,"['sql', 'python', 'numpy', 'pandas', 'seaborn'...","{'analyst_tools': ['excel', 'alteryx', 'tablea..."
108099,Data Scientist,Lead Data Scientist (Hybrid),"Burnsville, MN",via Recruit.net,Full-time,False,"Illinois, United States",2023-01-01 00:21:09,False,False,United States,year,120531.0,Apple Valley,"['java', 'sql', 'sql server', 'spring']","{'databases': ['sql server'], 'libraries': ['s..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186163,Senior Data Scientist,"Tech Lead / Sr Data Scientist, Product Analyti...","Los Angeles, CA",via LinkedIn,Full-time,False,"California, United States",2023-12-31 15:00:46,False,True,United States,year,271526.5,TikTok,"['sql', 'python', 'r', 'express']","{'programming': ['sql', 'python', 'r'], 'webfr..."
421728,Data Analyst,Data Analyst - Operations,"Los Angeles, CA",via Indeed,Full-time,False,"California, United States",2023-12-31 16:00:07,False,True,United States,year,72750.0,Wilshire Law Firm Plc,"['sql', 'power bi', 'unity']","{'analyst_tools': ['power bi'], 'other': ['uni..."
313161,Data Scientist,Data Scientist - Security Clearance Required,"Newport News, VA",via IT JobServe,Full-time,False,Georgia,2023-12-31 17:31:57,False,False,United States,year,114062.5,Leidos,"['python', 'r', 'sql', 'pandas', 'numpy']","{'libraries': ['pandas', 'numpy'], 'programmin..."
336301,Data Scientist,Data scientist,"Dallas, TX",via Talent.com,Full-time,False,Sudan,2023-12-31 23:40:22,False,True,Sudan,year,162500.0,Cognizant Technology Solutions,"['python', 'nosql']","{'programming': ['python', 'nosql']}"
327439,Data Engineer,Staff engineer data,"Southfield, MI",via Talent.com,Full-time,False,Sudan,2023-12-31 23:40:32,False,False,Sudan,year,140000.0,Credit Acceptance,"['express', 'kubernetes']","{'other': ['kubernetes'], 'webframeworks': ['e..."

In [145]:
df["salary_year_avg"].median()
df.describe()
min_salary = df["salary_year_avg"].idxmin()
df["salary_year_avg"].median()
max_salary = df["salary_year_avg"].idxmax()
print(max_salary)
df.groupby(["job_title_short"])["salary_hour_avg"].agg(["mean"])
df.groupby("job_country")["job_title"].count()

554784

job_country
Afghanistan      16
Albania         119
Algeria         111
Angola           11
Argentina      8736
               ...
Venezuela        69
Vietnam        2414
Yemen            10
Zambia          104
Zimbabwe         81
Name: job_title, Length: 160, dtype: int64

In [129]:
df.iloc[min_salary]
df["job_title_short"].value_counts()
df.groupby(["job_title_short"])[["salary_year_avg", "salary_hour_avg"]].agg(["min", "max", "median"])

                          salary_year_avg                     salary_hour_avg  \
                                      min       max    median             min
job_title_short
Business Analyst                  16500.0  387460.0   85000.0          10.835
Cloud Engineer                    42000.0  280000.0   90000.0          18.500
Data Analyst                      25000.0  650000.0   90000.0           8.000
Data Engineer                     15000.0  525000.0  125000.0           8.000
Data Scientist                    27000.0  960000.0  127500.0           8.000
Machine Learning Engineer         30000.0  325000.0  106415.0          10.000
Senior Data Analyst               30000.0  425000.0  111175.0          13.000
Senior Data Engineer              35000.0  425000.0  147500.0          12.500
Senior Data Scientist             45000.0  890000.0  155500.0          17.500
Software Engineer                 28000.0  375000.0   99150.0          11.000


                             max     median
job_title_short
Business Analyst           132.5  40.362499
Cloud Engineer              91.0  40.000000
Data Analyst               391.0  32.615002
Data Engineer              184.5  58.500000
Data Scientist             237.5  47.500000
Machine Learning Engineer   87.5  47.535000
Senior Data Analyst        130.0  47.500000
Senior Data Engineer       170.0  61.500000
Senior Data Scientist      150.0  47.620003
Software Engineer          102.5  47.560001